.App {
  height: 100vh;
}

.App-grid {
  display: grid;
  grid-template-columns: 35% 1fr;
  gap: 10px;
}

.tabs-list {
  background-color: white;
  padding: 20px;
  height: calc(100vh - 112px);
  position: relative;
  box-shadow: 1px 1px 5px rgb(211, 211, 211);
}

.tabs-list {
  overflow-y: scroll;
}

.tabs-list::-webkit-scrollbar {
  width: 6px;
}

.tabs-list::-webkit-scrollbar-thumb {
  background-color: #e6e7ec;
  outline: 1px solid #585e59;
  border-radius: 5px;
}