.App {
  height: 100vh;
}

.App-grid {
  display: grid;
  grid-template-columns: 30% 1fr;
  gap: 10px;
}

.logo {
  padding: 5px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
  color: #fff;
  word-break: break-all;
  font-size: 12px;
}

.chat-list, .chat-show {
  background-color: white;
  padding: 20px;
  height: calc(100vh - 48px);
  position: relative;
  box-shadow: 1px 1px 5px rgb(211, 211, 211);
}

.chat-show {
  display: none;
}

.chat-show.show-true {
  display: block;
}